.butSelect {
	color: gray
}
/***新增****************************************************************************/
#butUp {
	margin-top: 0%;
	margin-bottom: 10px;
	width: 100%;
}
/***系所社團類別********************************************************************/
.butGroup {
	position: relative;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 300px;
	height: 80px;
	font-size: 25px;
	text-align: center;
}
.group {
	text-align: center;
}
.departmentsList, .clubsList, .addNew {
	display: none;
}

/***下拉選單**************************************************************************/
.slideSel {
	height: 100px;
	width: 100%;
}
/***編輯******************************************************************************/
.isvisible {
	display: block;
}
.ishidden {
	display: none;
}
/***內容******************************************************************************/
.contentIamge {
	max-width: 100%;
}
.puzzle1Text {
	font-size: 50px;
}
.puzzle2Text {
	font-size: 30px;
}
/***Card******************************************************************************/
.cardCon1 {
	height: 200px;
}
.cardCon21 {
	height: 220px;
}
@media (min-width: 1200px) {
	.cardImage2 {
		min-height: 250px;
		max-height: 250px;
	}
	.cardCon2 {
		height: 220px;
	}
}
@media (max-width: 1200px) and (min-width: 992px) {
	.cardImage2 {
		min-height: 200px;
		max-height: 200px;
	}
	.cardCon2 {
		height: 250px;
	}
}
@media (max-width: 992px) and (min-width: 780px) {
	.cardImage2 {
		min-height: 300px;
		max-height: 300px;
	}
	.cardCon2 {
		height: 270px;
	}
}
@media (max-width: 780px) and (min-width: 600px) {
	.cardImage2 {
		min-height: 250px;
		max-height: 250px;
	}
	.cardCon2 {
		height: 280px;
	}
}
@media (max-width: 600px) and (min-width: 380px) {
	.cardImage2 {
		min-height: 450px;
		max-height: 450px;
	}
	.cardCon2 {
		height: 280px;
	}
}
@media (max-width: 380px) {
	.cardImage2 {
		min-height: 300px;
		max-height: 300px;
	}
	.cardCon2 {
		height: 280px;
	}
}