#ann-tab .row ,#cal-tab .row, #qa-tab .row{
	margin-left: 0;
	margin-top: 30px;
	margin-right: 0;
}

#ann-new-trigger {
	margin-bottom: 10px;
}

#ann-update-modal {
	max-height: 100%;
	min-height: 80%;
}

#cals-container {
	word-break: break-all;
}

#cal-content {
	max-height: 200px;
	overflow: auto;
}

#cal-update-content {
	max-height: 200px;
	overflow: auto;
}

#cal-new, #cal-update-modal, #ann-new, #ann-update-modal {
	max-height: 95%;
	height: 91%;
}
