#content {
	height: 100%;
}

#r1 {
	height: 400px;
}

#r2 {
	height: 170px;
}

#post-container {
	margin-right: 5%;
	width: 45%;
	height: 100%;
}

#slider-container {
	width: 50%;
	height: 100%;
	padding-top: 10px;
}

#calender-container {
	height: 100%;
}

.tab-content {
	overflow: auto;
	height: 85%;
}

.category {
	display: block;
	position: relative;
	width: 50%;
	color: white;
	text-align: center;
	border-radius: 5px;
}

.cat1 {
	background-color: #6a1b9a;
}

.cat2 {
	background-color: #0288d1;
}
