#content {
	height: 100%;
}

#r1 {
	height: 400px;
}

#r2 {
	height: 115px;
}

#r1>.s5, #r1>.s6 {
	height: 100%;
	box-shadow: 0px 0px 10px 0.1px rgb(100,100,100);
}

#post-container {
	margin-right: 5%;
}

#slider-container {
	padding-top: 10px;
}
