#content {
	padding: 30px;
}
#container {
	border-radius: 5px;
	background-color: rgb(255,255,255);
	overflow: hidden;
	min-height: 87%;
	margin-bottom: 3%;
	width: 75%;
	min-height: 910px;
}
.nav-margin {
	margin-top: 65px;
}
#logo {
	position: absolute;
	top: 0px;
	display: inline-block;
	width: 22.5%;
	height: 100px;
	background-color: transparent;
}
#banner-img {
	height: 210px;
	background-size: 100% 100%;
}
#banner>.row {
	margin: 0px;
}
.banner-menu .btn {
	width: 100%;
}
.banner-menu {
	background-color: white;
	min-height: 40px;
	padding: 10px;
}
.banner-menu a{
	text-align: center;
	width: 100%;
}
.banner-menu a:hover {
	background-color: #e3f2fd;
}
#nav-fixed {
	position: fixed;
	top: 0px;
	z-index: 3;
}
nav {
	opacity: 1;
	-webkit-transform: translate(0,0);
	-webkit-transition: -webkit-transform .2s,background .3s,color .3s;
	background-color: #2196f3;
}
.brand-logo {
	margin-left: 10px;
}
#portal {
	/*transition: 6s ease-in-out;*/
	display: inline-block;
	position: fixed;
	top: 65vh;
	left: 89%;
	width: 70px;
	z-index: 4;
}
#portal-menu {
	display: inline-block;
}
#portal-trigger {
	width: 1px;
	height: 1px;
	padding: 0;
}
#portal-img {
	height: 65px;
	width: 65px;
	display: inline-block;
}
#footer {
	height: 70px;
	line-height: 35px;
	color: rgb(255,255,255);
	text-align: center;
	background-color: #212121;
}
body {
	background-color: #F5F5F5;
	min-height: 100%;
}

.pagination li {
    padding: 0;
}
.pagination li a {
    margin: 0;
    display: block;
    width: 30px;
}
