a.collection-item {
	cursor: pointer;
}

.collection {
	margin: 0%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

#error {
	color: red;
	font-size: 120%;
	font-weight: bold;
}

#slidebar {
	float: left;
	width: 20%;
	margin: 0% 3%;
}

#main {
	margin-left: 27%;
	width: 70%;
}

#pictures {
	position: relative;
}

#campus {
	width: 100%;
	margin-top: 1.5%;
}

#map, #small_map {
	position: absolute;
	right: 0%;
	width: 8%;
}