#slidebar {
	float: left;
	width: 20%;
	margin: 0% 3%;
}

#main {
	margin-left: 27%;
	width: 70%;
}

.category {
	border-width: 0px 1px 1px;
	border-style: solid;
	background-color: rgb(191, 224, 255);
	border-color: rgb(33, 150, 243);
}

.category::after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -22.5px;
	width: 0;
	height: 0;
	border-left: 16px solid #2196F3;
	border-top: 22.5px solid transparent;
	border-bottom: 22.5px solid transparent;
}

#category1 {
	border-top: 1px solid rgb(33, 150, 243);
}

.collection {
	margin: 0%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

#view_id {
	float: left;
	width: 20%;
}

#region_id {
	float: left;
	width: 20%;
	margin-left: 1%;
}

#title {
	margin-left: 43%;
	width: 57%;
}

#item_name {
	left: 0%;
}

#error {
	color: red;
	font-size: 120%;
	font-weight: bold;
}

#campus_title {
	font-size: 180%;
	margin-bottom: 3%;
}

#pictures {
	position: relative;
}

#view, #campus {
	width: 100%;
	margin-top: 1.5%;
}

#map, #small_map {
	position: absolute;
	right: 0%;
	top: 2%;
	width: 8%;
}

#btn-edit {
	right: 1%;
}