#slidebar {
	position: relative;
	padding-right: 0%;
}

.collapsible {
	border: 0px;
}

.category {
	border: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	color: black;
	font-weight: bold;
}

.here {
	background-color: #0D47A1;
	border: 0px;
	color: white;
	font-weight: bold;
}

.here::after {
	content: "";
	position: absolute;
	left: 100%;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 22.5px 0px 22.5px 13px;
	border-color: transparent transparent transparent #0D47A1;
}

.collection {
	margin: 0%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}
/*========================================================================*/
#view_id {
	float: left;
	width: 20%;
}

#region {
	float: left;
	width: 22%;
	margin-left: 1%;
}

#title {
	margin-left: 45%;
	width: 55%;
}

#item_name {
	left: 0%;
}

#error {
	color: red;
	font-size: 120%;
	font-weight: bold;
}

#campus_title {
	font-size: 180%;
	margin-bottom: 3%;
	font-weight: bold;
}
/*========================================================================*/
#show {
	width: 95%;
	margin: 0% 2.5%;
}

#pictures {
	position: relative;
}

#view{
	width: 100%;
	margin-top: 1%;
}

#pizzle {
	position: absolute;
	right: 1%;
	top: 3%;
	width: 7%;
	transition:all 0.35s;
}

#pizzle:hover {
	right: 1.5%;
	top: 3.5%;
	width: 6%;
}

#map {
	position: absolute;
	right: 5%;
	top: 10%;
	width: 32%;
	visibility: hidden;
}

#btn_edit {
	right: 1%;
}

#title_text {
	font-size: 180%;
	font-weight: bold;
}