@media (min-width: 1200px) {
	.menu{
		max-width: 260px;
	}
}

.menu .collapsible-header {
	background: #2025aa; /* Old browsers */
	background: -moz-linear-gradient(top, #2025aa 0%, #0141c1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2025aa), color-stop(100%,#0141c1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2025aa 0%,#0141c1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2025aa 0%,#0141c1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2025aa 0%,#0141c1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2025aa 0%,#0141c1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2025aa', endColorstr='#0141c1',GradientType=0 ); /* IE6-9 */
  	font-size: 18px;
  	font-weight: 600;
  	border-radius: 2px;
  	border-bottom: 2px solid #C6C7C7;
}

.list_1 {
	background-color: rgb(255,255,255);
	color: #fafafa;
}

.list_2 {
	color: #000000;
	font-size: 18px;
  	margin: 5px;
  	padding-left: 16px;
}

.list_3 {
    padding-top: 13px;
    padding-bottom: 20px;
}

.list_3 a {
	color: #235FD5;
	font-size: 147%;
    line-height: 1.5;
}

.list_3 a:hover {
	padding-top: 13px;
    padding-bottom: 20px;
    text-decoration: underline;
    color: #7b1fa2;
}

h5 {
	font-size: 2.0rem;
}

.page_title {
	font-weight: 600;
}

a {
	color: rgb(21, 126, 208);
}

.link_1 {
	color: #ffffff;
}

table {
	max-width: 100% !important; 
	min-width: 100% !important;
}

td {
	border: 1px solid #000000;
}

.list_menu {
	padding: 3px;
    padding-left: 20px;
}
