.collapsible-header {
  color: rgb(3, 155, 229);
}

.collapsible-header {
  background-color: #eee;
}

.list_1 {
  padding-left: 5px;
  padding-bottom: 3px;
}

.list_2 {
  margin: 7px;
  padding-left: 21px;
}